<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


<div class="main container">
    <!-- header ends -->
    <a href="/" class='btn btn-primary'>All Products</a>
    <h1>Add Products</h1>
    <!-- form -->
    <%- include('include/_form') %>
</div>



<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->