<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- main -->
<div class="main container">
    <a href="/add-product" class="btn btn-primary">Add Products</a>
    <h1>All Products</h1>
    <div class="row">
        <%- include('include/_show') %>
    </div>
    
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->

