<div class="card col-lg-3 col-md-6 col-sm-6">
    <img class="card-img-top" src="https://images.pexels.com/photos/1001682/pexels-photo-1001682.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">productName</h5>
    <p class="card-text">productDescription</p>
    <div class="price-wrap h5">
        <span class="price-new">$1280</span>
        <del class="price-old">$1980</del>
    </div>
    <a href="#" class="btn btn-primary">View</a>
    <a href="/update-product" class='btn btn-info'>Edit</a>
    </div>
</div> 